* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}
body {
  background: rgb(123, 183, 191);
  background-image: url(./images/navbackground.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  /* background: #eee; */

  height: 100vh;
}
@media (max-width: 500px) {
  body {
    background: #eee;
  }
}
ul,
ol {
  list-style: none;
}
.globalHeader {
  margin: 20px;
  /* border: 1px solid red; */
}
.globalHeader .logoHeader {
  /* border: 1px solid black; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  border-radius: 50%;
  max-height: 200px;
}
@media (min-width: 500px) {
  .globalHeader {
    margin: 80px 0;
  }
}
.searchForm {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 500px) {
  .searchForm {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}
.searchForm > input {
  width: 100%;
  margin-right: 10px;
  height: 40px;
  padding: 0 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.searchForm > button {
  white-space: nowrap;
  padding: 0 28px;
  border: 1px solid #ddd;
  background: #2418de;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.searchForm > button:hover {
  background: #000099;
}
@media (max-width: 500px) {
  .searchForm > button {
    font-size: 14px;
    padding: 0 10px;
  }
}
.globalMain {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.siteList {
  /* border: 1px solid black; */
  justify-content: space-between;
  margin: 20px 20px;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 500px) {
  .siteList {
    /* border: 1px solid black; */
    justify-content: flex-start;
    margin: 20px 20px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 500px) {
  .siteList {
    margin-right: -25px;
    margin-left: 0;
  }
}
.siteList > li {
  margin-bottom: 10px;
}
@media (min-width: 500px) {
  .siteList > li {
    margin-right: 25px;
  }
}
.siteList .site {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 160px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: white;
  margin-bottom: 10px;
  padding: 20px 0;
  cursor: pointer;

  /* height: 128px; */
}
.siteList .site:hover {
  background: #e6e6e6;
}
.siteList .site > .logo {
  /* border: 1px solid red; */
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  text-transform: uppercase;
}
.siteList .site > .link {
  margin-top: 4px;
  font-size: 14px;
}
.siteList .site > .close {
  position: absolute;
  right: 10px;
  top: 5px;
  display: none;
  cursor: default;
}
.siteList .site:hover > .close {
  display: block;
}
.siteList .addButton {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 160px;
  padding: 20px 0;
  /* height: 128px; */
  border: 1px solid #ddd;
  border-radius: 4px;
}
.siteList .addButton:hover {
  background: #e6e6e6;
}
.siteList .addButton .icon {
  width: 56px;
  height: 56px;
}
.siteList .addButton .text {
  margin-top: 4px;
  font-size: 14px;
}
.siteList .addButton .icon-wrapper {
  /* border: 1px solid red; */
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
